<!-- About Section -->
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <h3 class="section-subheading text-muted">Work Experience details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/cannondale.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading exp-heading">
                                <h4>Sept. 2020 - Jan 2021</h4>
                                <h4 class="subheading">Cannondale | USA</h4>
                                <h4 class="subheading">Product Pricing Analyst</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted experience-block-list">
                                    <li><span style="color: #fed136; font-weight:bolder;">Apache Spark, Java, Scala, HDFS, Alluxio, Bash Script, Git, Agile, JIRA</span></li>
                                    <li>Managed portfolio of 40+ products and performed customer segmentation, calculated MRR from various B2B customer groups, analyzed their purchasing habits and found patterns of using Python and Excel.</li>
                                    <li>Improved Data Ingestion process costs by 15% using RPA bots in UiPath for automation of web scraping from competitors’ website into a SQL database on RDS. Elicited and documented requirements to manage orders that fall out of automation.</li>
                                    <li>Documented functional requirements, database rules and UI design utilizing various techniques including use cases, flow diagrams, swim lane diagrams, epic stories, and gap analysis.</li>
                                    <li>Implemented Machine Learning to predict prices and support New Product Development. Developed a web application in RShiny and Flexdashboard to assist with targeted pricing strategies.</li>
                                    <li>Created interactive dashboards for sales performance tracking using critical Competitive Pricing Analysis KPIs using Tableau.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/digital_novelty.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading exp-heading">
                                <h4>June 2020 - Sept. 2020</h4>
                                <h4 class="subheading">Digital Novelty, LLC | India</h4>
                                <h4 class="subheading">Data Science Engineer Intern</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted experience-block-list">
                                    <li><span style="color: #fed136; font-weight:bolder;">Salesforce Classic, Salesforce Lightning, Apex, Visualforce, JavaScript, Agile, Git</span></li>
                                    <li>Saved cloud resources by 32% and reduced data retrieval time by 40% by updating the ETL process using PostgreSQL stored procedures for transactions of various Dapps.</li>
                                    <li>Performed multivariate time-series forecasting to forecast activities and volumes of various Blockchain platforms.</li>
                                    <li>Interacted with GitHub API for data collection and implemented multi-classification which acted as a Tag labeler for issues.</li>
                                    <li>Developed a prototype of windows application for Resource Management System using C# and MySQL.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/rutgers.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading exp-heading">
                                <h4>Jan 2020 - May 2021 </h4>
                                <h4 class="subheading">Rutgers University | USA</h4>
                                <h4 class="subheading">Instructor</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted experience-block-list">
                                    <li><i class="fa fa-trophy"></i><strong>Award:</strong> Insta-Award winner at Infosys Limited for exemplary performance</li>
                                    <li><span style="color: #fed136; font-weight:bolder;">Siebel CRM, Java, JavaScript, SDLC, Rest APIs, Agile, Visual Studio, Waterfall structure</span></li>
                                    <li> <ul>
                                        <li> Database Management Systems (CS336) </li>
                                        <li> Numerical Analysis and Computing (CS323) </li>
                                        <li> Data Analysis and Decision Making (22:544:575) </li>
                                        <li> Business Applications of Computer Science (CS170) </li>
                                        <li> Principles of Computer Applications (CS110) </li>
                                        </ul>
                                    </li>
                                    <li>Conduct in-person and virtual recitation lectures (SQL, RDBMS),(Tableau),(Advanced Excel, HTML/CSS, JavaScript) for 75 students, develop course curriculum, prepare, and grade assignments, and address queries during office & lab support hours.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                     <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/jio.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading exp-heading">
                                <h4>June 2020 - Sept. 2020</h4>
                                <h4 class="subheading">Digital Novelty, LLC | India</h4>
                                <h4 class="subheading">Data Science Engineer Intern</h4>
                            </div>
                            <div class="timeline-body">
                                <ul class="text-muted experience-block-list">
                                    <li><span style="color: #fed136; font-weight:bolder;">Salesforce Classic, Salesforce Lightning, Apex, Visualforce, JavaScript, Agile, Git</span></li>
                                    <li>Saved cloud resources by 32% and reduced data retrieval time by 40% by updating the ETL process using PostgreSQL stored procedures for transactions of various Dapps.</li>
                                    <li>Performed multivariate time-series forecasting to forecast activities and volumes of various Blockchain platforms.</li>
                                    <li>Interacted with GitHub API for data collection and implemented multi-classification which acted as a Tag labeler for issues.</li>
                                    <li>Developed a prototype of windows application for Resource Management System using C# and MySQL.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
